<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>할일태산 어드민</title>
    <link rel="shortcut icon" href="/img/common/img_favicon.ico" type="image/x-icon">

    <!-- css -->
    <link rel="stylesheet" href="/css/admin.common.css">
    <link rel="stylesheet" href="/css/admin.sub.css">

    <!-- js -->
    <script src="/js/jquery-3.6.1.min.js"></script>
    <script src="/js/admin.common.js"></script>
    <script>

    </script>
</head>
<body id="page_"><input type="hidden" id="input_page" value="">
    <header></header>
    <main class="minWidth2">
        <h2></h2>
        <div class="wrap_contents">

        </div>
    </main>
</body>
</html>
