@charset "UTF-8";
@import url('fonts.css');

/**************************************************/
/* ================================= reset */
*{
    padding: 0; margin: 0; box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif; word-break: keep-all; line-height: normal;
    font-weight: 500; color: #333;
}
::selection { background: var(--primary); color: #fff; }
::before, ::after{ font-size: inherit; color: inherit; font-weight: inherit; }
::placeholder{color: #A7A7A7}
*:disabled{ cursor: default;}
li{ list-style: none; }
a{ display: inline-block; text-decoration: none; cursor: pointer; }
span{ display: inline-block; }
strong, b{ font-weight: bold; }
strong{ font-size: inherit; line-height: inherit; color: inherit; }
i{ display: block;}
hr{ display: block; width: 100%;}
img{ display: inline-block; border: none; object-fit: contain; }
button{ cursor: pointer; border: none; background: transparent; }
*:is(a, button):not(:disabled):hover{ filter: brightness(95%); -webkit-filter: brightness(95%); }
textarea{
    resize: none; padding: 12px;
    border: 1px solid #C0C0C0;
    border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px;
    -ms-border-radius: 2px; -o-border-radius: 2px;
}

/* select */


/* table */
table{ width: 100%; border-spacing: 0; border-collapse: collapse; table-layout: fixed; }
tr > *{ vertical-align: middle; /* white-space: nowrap; */ overflow: hidden; text-overflow: ellipsis; }

/* details */
details{list-style: none;}
details::-webkit-details-marker { display: none }
summary{ list-style: none; cursor: pointer;}

/* --- inputs */
/* input text password number */
input:not( [type="checkbox"], [type="radio"], [type="range"] )
{ height: 40px; padding: 0 12px; border: 1px solid #C0C0C0;}
input:not( [type="checkbox"], [type="radio"], [type="range"] ):focus
{ outline: 1px solid var(--primary); outline-offset: -1px; }
input:not( [type="checkbox"], [type="radio"], [type="range"] ):disabled,
input:not( [type="checkbox"], [type="radio"], [type="range"] ):read-only
{ background: #F2F2F2; outline: none !important; color: #A7A7A7; cursor: default; }

/* input number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
{ -webkit-appearance: none; -moz-appearance: none; appearance: none; }
input[type="number"]{ appearance: textfield; -moz-appearance: textfield; }

/* input date */
input:is([type="date"], [type="datetime"]){ cursor: text;}
input:is([type="date"], [type="datetime"])::-webkit-calendar-picker-indicator{ cursor: pointer;}

/* input checkbox radio */
input:is( [type="checkbox"], [type="radio"] ){
    width: 14px; height: 14px; border: 1px solid #777; background: #FFF;
    -webkit-appearance: none; -moz-appearance: none; appearance: none;
    cursor: pointer;
    transition: 0.1s ease-in;
    -webkit-transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -ms-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
}
input:is( [type="checkbox"], [type="radio"] ):is(:focus, :hover){ border-color: var(--primary); }
input:is( [type="checkbox"], [type="radio"] ):disabled{ background: #F2F2F2; border: 1px solid #C0C0C0; cursor: default;}
input:is( [type="checkbox"], [type="radio"] ):checked{ border-color: #222; outline-color: #222; }

/* input checkbox */
input[type="checkbox"]{ border-radius: 0; }
input[type="checkbox"]:checked{
    background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.38288L4.10933 10.5L12 2.61717L10.8672 1.5L4.10933 8.24999L1.11715 5.25784L0 6.38288Z' fill='white'/%3E%3C/svg%3E%0A") #222 no-repeat center/70%;
}

/* input radio */
input[type="radio"]{ border-radius: 50%; }
input[type="radio"]:is(:focus, :hover){ outline: none; }
input[type="radio"]:checked{ outline: 5px solid #222; outline-offset: -5px;  }

/**************************************************/
/* ================================= base set */
html{ scroll-behavior: smooth; overflow-x: hidden; }
html, body{ width: 100%; }
html.active, body.active{ overflow-y: hidden; }
body{
    visibility: collapse; opacity: 0;
    transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
    -webkit-transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
    -moz-transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
    -ms-transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
    -o-transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
}
body.loaded{ visibility: visible; opacity:1; }

/* scrollbar */
body *::-webkit-scrollbar{ width: 6px; }
body *::-webkit-scrollbar-thumb{ border-radius: 4px; background: var(--primary); }
body *::-webkit-scrollbar-track{ border-radius: 4px; background: #f5f5f5; }

/* palette */
:root{
    --primary : #58ADB2;
    --secondary : #F0EADD;
    --point : #114447;
}

.b_primary{ background: var(--primary); color: #333;}
.b_secondary{ background: var(--secondary); color: #222;}
.b_point{ background: var(--point); color: #fff;}

.br_primary{ border: 1px solid var(--primary); background: #fff; color: var(--primary); }
.br_secondary{ border: 1px solid var(--secondary); background: #fff; color: var(--secondary);}
.br_point{ border: 1px solid var(--point); background: #fff; color: var(--point) !important; }
.br_gray{border: 1px solid #DEDEDE; background: #FFF; color: #131313 !important; }


.t_primary{ color: var(--primary) !important; }
.t_secondary{ color: var(--secondary) !important; }
.t_point{ color: var(--point)  !important; }
.t_red{ color: #FA5649 !important; }
.t_dRed{ color: #7B2514 !important; }

/* text-overflow */
.row01{
    display: inline-block; width: 100%;
    overflow: hidden; text-overflow: ellipsis;
    white-space: nowrap; box-sizing: border-box;
}
.row02{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; text-overflow: ellipsis; box-sizing: border-box;
}



/**************************************************/
/* ================================= responsive */
@media screen and (min-width: 1025px){
    .mobile{ display: none !important;}



}
@media screen and (max-width: 1920px){}
@media screen and (max-width: 1680px){

}
@media screen and (max-width: 1024px){
    .pc{ display: none !important;}
}
