<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>할일태산</title>
    <link rel="shortcut icon" href="/img/common/img_favicon.ico" type="image/x-icon">

    <!-- css -->
    <link rel="stylesheet" href="/css/user.common.css">

    <!-- js -->
    <script src="/js/jquery-3.6.1.min.js"></script>
    <script src="/js/user.common.js"></script>
    <script>

    </script>
</head>
<body id="page_"><input type="hidden" id="input_page" value="">
    <main>

    </main>
    <nav class="fnb"></nav>
    <div class="pc bg_body"></div>
</body>
</html>
