<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INASSIS</title>
    <script src="/js/jquery-3.7.0.min.js"></script>
    <script src="/js/common.js"></script>

    <link rel="stylesheet" href="/css/sub.css">
</head>
<body id="page_privacy">
    <header>@include('user.include.header')</header>
    <main>
        <div class="container">
            <div class="inner">
                <div class="page_title">
                    <h2>마케팅 활용정보 동의</h2>
                </div>
                <div class="page_privacy_content">
                    <p><span>마케팅 활용 동의</span>목적 : 당사 홍보(온/오프라인) 활동<br>항목 : 서비스 의뢰건에 대한 현장 사진 및 결과물<br>보유기간	영업기간 혹은 동의 철회 시</p>
                    <p><span>마케팅 정보 수신 동의</span>목적 : 인어시스가 제공하는 서비스 및 이벤트등의 광고성 정보 제공(이메일, SMS, 카카오톡 등)<br>항목 : 이름, 이메일주소, 휴대전화번호,마케팅 수신 동의 여부</p>
                    <p>보유기간	동의 철회 시, 본 마케팅 정보 수신에 대한 동의를 거부하실 수 있으며, 이 경우 인어시스의 서비스를 이용하실 수 있으나 각종 소식 및 이벤트 참여에 제한이 있을 수 있습니다.</p>
                    <button class="last-button btn_able grid3" onclick="history.back()">확인</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
