<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INASSIS</title>
    <script src="/js/jquery-3.7.0.min.js"></script>
    <script src="/js/common.js"></script>

    <link rel="stylesheet" href="/css/sub.css">
</head>
<body id="page_privacy">
    <header>@include('user.include.header')</header>
    <main>
        <div class="container">
            <div class="inner">
                <div class="page_title">
                    <h2>개인정보 수집 및 이용동의</h2>
                </div>
                <div class="page_privacy_content">
                    <p><span>수집항목</span>이름, 이메일, 휴대전화번호, 이용할 서비스의 현장 주소, 서비스 이용계약 시 신청인 사업자 정보, 입주자 정보</p>
                    <p><span>수집 및 이용 목적</span>이용자 식별, 서비스 이용 및 고객상담, 본인 여부 확인, 계약 체결 시 계약인증 리뷰 작성을 위한 연락, 문의 회신 및 고지사항 등 전달, 서비스 품질 개선을 위한 데이터 분석, 맞춤형 콘텐츠 및 서비스 등 제공 또는 추천</p>
                    <p><span>보유 및 이용 기간</span>2년. 단, 서비스 이용계약 체결시는 회원탈퇴시까지 보유할 수 있으며, 기타 관련 법령의 규정에 따라 거래 관계 확인을 위해 개인정보를 일정기간 보유할 수 있습니다. 개인정보 제공에 동의하지 않으실 수 있으며, 동의하지 않으시면 서비스 이용이 제한될 수 있습니다. 서비스 의뢰 신청 접수시 '개인정보 마케팅 활용'에 동의한 경우에 한하여 위 수집정보를 광고 및 마케팅 목적으로 활용할 수 있습니다. 그 밖의 사항은 인어시스의 개인정보처리방침에 따릅니다.</p>
                    <button class="last-button btn_able grid3" onclick="history.back()">확인</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
